{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your account at aris4.0.{% endblocktranslate %}

{% translate "Reset your password:" %}
https://crusader-easing-overlying.ngrok-free.dev{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "Your username, in case you've forgotten:" %} {{ user.get_username }}

---

{% translate "Dev / local only:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "Thanks for using our platform!" %}

{% blocktranslate %}The aris4.0 Team{% endblocktranslate %}
{% endautoescape %}
